<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Homepage</title>
    <%- include('./partials/head') %>
  </head>
  <body>
    <%- include('./partials/navbar') %>

    <form
      className="container"
      style="max-width: 600px"
      action="/user/signin"
      method="post"
    >
      <div className="mb-3">
        <label htmlhtmlFor="exampleFormControlInput1" className="form-label"
          >Email address</label
        >
        <input
          type="email"
          className="form-control"
          id="email"
          name="email"
          placeholder="name@example.com"
        />
      </div>
      <div className="my-3">
        <label htmlhtmlFor="exampleFormControlInput1" className="form-label"
          >Password</label
        >
        <input
          type="password"
          className="form-control"
          id="password"
          name="password"
          placeholder="Password"
        />
      </div>
      <button className="btn btn-primary">Sign In</button>
    </form>
    <%- include('./partials/script') %>
  </body>
</html>
